<div class="avatar container d-flex justify-content-center">
    
    <div>
        <h1>This First Heading <strong class="text-secondary">Will Catch Your Eye</strong></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
            optio, eaque rerum!</p>
    </div>
    <figure class="figure w-50 float-end m-3">
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
            class="figure-img img-fluid rounded img-thumbnail rounded-circle w-40" alt="Alt text.">
</figure>
</div>

