<!-- your html code here -->
   

<div class="avatar2 container d-flex justify-content-center">
   
    <figure class="figure w-50 float-end">
        <img src="https://harpoonapp.com/static/uploads/tips-resignation-letter.jpg"
            class="figure-img img-fluid rounded img-thumbnail rounded-circle w-40 ms-5 mt-3" alt="Alt text.">
    </figure>

    <div class="ms-3">
        <h1>This second heading <strong class="text-secondary">is pretty cool too</strong></h1>
        <h5>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </h5>
    </div>
</div>
